<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<img class="h-12 w-12 flex-none rounded-full bg-gray-50" style="width: 1000px; margin-left: 18%; margin-right: auto; " src="../../assets/logo-pokemon-x-pokemon-x-logo-png-clipart-removebg-preview.png" alt="">
<h2 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: POKEMON;">La regione nel gioco Pokémon X è chiamata Kalos ed è ispirata alla Francia. Kalos è conosciuta per la sua bellezza architettonica e la sua ricca cultura, con influenze sia moderne che storiche. La regione è divisa in diverse aree geografiche, tra cui città, foreste, montagne e persino una vasta area marina. I giocatori esplorano Kalos mentre affrontano sfide, sconfiggono i capipalestra e partecipano al Pokémon League per diventare il Campione della regione.</h2>
<br>
<br>
<br>

<ng-template *ngIf = "name === 'inizio'; then bloccoInizio"></ng-template>


<ng-template #bloccoInizio>
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let element of pokemon index as i" class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="{{element.immagine}}" alt="Card image">
                <div class="card-body">
                    <br>
                    <br> 
                    <br>
                    <button (click) = "setBtn(element.nome)" type="button" class="btn button1" style="margin-left: 167px; margin-right: 70px; font-family: POKEMON; font-size: larger;" [ngClass]="{'button1':pokemon[i].nome=='#120 STARYU', 'button2':pokemon[i].nome=='#304 ARON', 'button3':pokemon[i].nome=='#539 SAWK' }">{{element.nome}}</button>
                </div>
            </div>
        </div>
        </div>
    </div>


</ng-template>
<ng-template *ngIf = "name === '#120 STARYU'; then bloccoUno"></ng-template>


<ng-template #bloccoUno>

 
    <div class="container" style="width: 400px;">
        <div class="card mb-5">
            <img class="card-img-top" src="{{pokemon[0].immagine}}" alt="Card image">
            <div class="card-body" style="font-family: POKEMON; color: blue;" >
                <p>- nome: {{pokemon[0].nome}}</p>
                <p>- descrizione: {{pokemon[0].descrizione}}</p>
                <p>- tipo: {{pokemon[0].tipo}} </p>
                <p>- peso: {{pokemon[0].peso}} </p>
                <p>- altezza: {{pokemon[0].altezza}} </p>
                <p>- abilità: {{pokemon[0].abilita}}</p>
                <p>- dove trovarlo?: {{pokemon[0].posizione}} </p>
                <p>- tasso di cattura: {{pokemon[0].tassocattura}} </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a  href="reload()"class="btn button4" style="color: white; width: 200px; margin-left: 19%;">HOME</a> 
            </div>
    </div>
</div>
<br>


</ng-template>
<ng-template *ngIf = "name === '#304 ARON'; then bloccoDue"></ng-template>


<ng-template #bloccoDue>

    <div class="container" style="width: 400px;">
        <div class="card mb-5">
            <img class="card-img-top" src="{{pokemon[1].immagine}}" alt="Card image">
            <div class="card-body" style="font-family: POKEMON; color: blue;" >
                <p>- nome: {{pokemon[1].nome}}</p>
                <p>- descrizione: {{pokemon[1].descrizione}}</p>
                <p>- tipo: {{pokemon[1].tipo}} </p>
                <p>- peso: {{pokemon[1].peso}} </p>
                <p>- altezza: {{pokemon[1].altezza}} </p>
                <p>- abilità: {{pokemon[1].abilita}}</p>
                <p>- dove trovarlo?: {{pokemon[1].posizione}} </p>
                <p>- tasso di cattura: {{pokemon[1].tassocattura}} </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a  href="reload()"class="btn button4" style="color: white; width: 200px; margin-left: 19%;">HOME</a> 
            </div>
    </div>
    </div>
    <br>


</ng-template>
<ng-template *ngIf = "name === '#539 SAWK'; then bloccoTre"></ng-template>


<ng-template #bloccoTre>
    <div class="container" style="width: 400px;">
        <div class="card mb-5">
            <img class="card-img-top" src="{{pokemon[2].immagine}}" alt="Card image">
            <div class="card-body" style="font-family: POKEMON; color: blue;" >
                <p>- nome: {{pokemon[2].nome}}</p>
                <p>- descrizione: {{pokemon[2].descrizione}}</p>
                <p>- tipo: {{pokemon[2].tipo}} </p>
                <p>- peso: {{pokemon[2].peso}} </p>
                <p>- altezza: {{pokemon[2].altezza}} </p>
                <p>- abilità: {{pokemon[2].abilita}}</p>
                <p>- dove trovarlo?: {{pokemon[2].posizione}} </p>
                <p>- tasso di cattura: {{pokemon[2].tassocattura}} </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a  href="reload()"class="btn button4" style="color: white; width: 200px; margin-left: 19%;">HOME</a> 
            </div>
    </div>
    </div>
    <br>
    
    
    


</ng-template>



